*.class

# Package Files #
*.jar
*.war
*.ear
*.idea*
**/target/*


photo-service/client/target/maven-archiver/pom.properties

photo-service/client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

photo-service/service/service.iml

*.iml

photo-service/service/target/dependency-reduced-pom.xml

photo-service/service/target/maven-archiver/pom.properties

photo-service/client/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst

photo-service/client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

photo-service/service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

photo-service/service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst

photo-service/client/target/failsafe-reports/failsafe-summary.xml

photo-service/client/target/failsafe-reports/com.github.dustinbarnes.microservice.photocache.PhotoCacheClientIT.txt

photo-service/service/target/surefire-reports/com.github.dustinbarnes.microservice.photocache.PhotoCacheResourceTest.txt

photo-service/client/target/failsafe-reports/TEST-com.github.dustinbarnes.microservice.photocache.PhotoCacheClientIT.xml

photo-service/api/target/maven-archiver/pom.properties

photo-service/api/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

photo-service/api/target/surefire-reports/TEST-com.github.dustinbarnes.microservice.photocache.api.PhotoTest.xml

photo-service/api/target/surefire-reports/com.github.dustinbarnes.microservice.photocache.api.PhotoTest.txt

photo-service/api/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst

photo-service/api/target/test-classes/fixtures/photo.json

photo-service/service/target/surefire-reports/TEST-com.github.dustinbarnes.microservice.photocache.PhotoCacheResourceTest.xml
